.App {
  font-family: 'Helvetica Neue';
  text-align: center;
}

.App-header {
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin: 2rem 0;
  text-transform: uppercase;
}

.App-postcode {
  color: greenyellow;
  font-family: 'Helvetica Neue';
  font-size: 5rem;
  font-weight: 500;
  -webkit-text-stroke: 1px black;
}

.App-button {
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
}

.App-button:hover {
  background-color: greenyellow;
}
